/* TypeFilterPage.css */

.type-filter-page {
  background-color: var(--gb-bg);
  border: 4px solid var(--gb-border);
  border-radius: 4px;
  padding: 1rem;
  max-width: 600px;
  margin: 1rem auto;
  box-sizing: border-box;
}

.filter-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.filter-buttons .button {
  background-color: var(--gb-button);
  color: var(--gb-button-text);
  font-size: 0.5rem;
  padding: 0.25rem 0.5rem;
  border: 4px solid var(--gb-border);
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
}
.filter-buttons .button:hover {
  background-color: var(--gb-screen);
}
